<div class="container-fluid">
    <div class="card">
        <div class="card-header bg-white">
            Dashboard Home
        </div>
        <div class="card-body">
            
        </div>
    </div>
</div>