<div class="container-fluid">
    <div class="card">
        <div class="card-header bg-white">
            <strong>Applications</strong>
			<button class="btn btn-sm btn-dark pull-right" (click)="applicationCreateLink()">Create</button>
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>Full Name</th>
						<th>Department</th>
						<th>Course</th>
						<th>Shift</th>
						<th>Entry Date</th>
						<th>Status</th>
						<th>Action</th>
					</tr>
				</thead>
                <tbody>
                    <tr *ngFor="let application of applications">
                        <td>{{ application?.id }}</td>
                        <td>{{ application?.full_name }}</td>
                        <td>{{ application?.department.name }}</td>
                        <td>{{ application?.course.name }}</td>
                        <td>{{ application?.shift }}</td>
                        <td>{{ application?.entry_date }}</td>
                        <td>{{ application?.status ? 'Active' : 'Inactive' }}</td>
                        <td>

                        </td>
                    </tr>
                </tbody>
			</table>
        </div>
    </div>
</div>