<div class="container-fluid">
    <div class="card">
        <div class="card-header bg-white">
            <strong>Courses</strong>
			<button class="btn btn-sm btn-dark pull-right" (click)="courseCreateLink()">Create</button>
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Department</th>
						<th>Image</th>
						<th>Shifts</th>
						<th>Fees</th>
						<th>Status</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let course of courses">
						<td>{{ course?.id }}</td>
						<td>{{ course?.name }}</td>
						<td>{{ course?.department.name }}</td>
						<td>
							<img src="{{ course?.images && course?.images.split(',')[0] ? imagePath + course?.images.split(',')[0] : 'assets/images/no-image-found.jpg' }}" alt="image" class="img-cell">
						</td>
						<td>{{ course?.shifts }}</td>
						<td>{{ course?.fees }}</td>
						<td>{{ course?.status ? 'Active' : 'Inactive' }}</td>
						<td>
							<div class="btn-group">
								<button class="btn btn-info btn-sm" (click)="courseEditLink(course.id)">Edit</button>
								<button class="btn btn-success btn-sm" (click)="courseViewLink(course.id)">View</button>
								<button class="btn btn-danger btn-sm" (click)="courseDelete(course.id)">Delete</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
        </div>
    </div>
</div>