<div class="container">
    <div class="card">
        <div class="card-header">
            Departments
            <a href="#" routerLink="create" class="btn btn-sm btn-dark pull-right">Create</a>
        </div>
        <div class="card-body">
            <table class="table table-stripe">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>User ID</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let department of departments">
                        <td>{{ department.id }}</td>
                        <td>{{ department.name }}</td>
                        <td>{{ department.user_id }}</td>
                        <td>{{ department.status }}</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-info" (click)="departmentEditLink(department.id)">Edit</button>
                                <button type="button" class="btn btn-sm btn-success" (click)="departmentViewLink(department.id)">View</button>
                                <button type="button" class="btn btn-sm btn-danger" (click)="departmentDelete(department.id)">Delete</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>