<div class="container-fluid">
    <div class="card">
        <div class="card-header bg-white">
            <strong>Course Name: {{ course?.name }}</strong>
			<button type="button" class="btn btn-sm btn-dark pull-right" (click)="courseListLink()">Back</button>
        </div>
        <div class="card-body">
            <div class="col-12">
                Department: {{ department?.name }}
            </div>
            <div class="col-12">
                Fees: {{ course?.name }}
            </div>
            <div class="col-12">
                Shifts: {{ course?.shifts }}
            </div>
            <div class="col-12">
                Images:
                <div class="row">
                    <div class="col-4" *ngFor="let image of images">
                        <img src="{{ image }}" alt="image" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>