<div class="container-fluid">
    <div class="card">
        <div class="card-header bg-white">
            <strong *ngIf="!editMode">Create Application</strong>
            <strong *ngIf="editMode">Edit Application</strong>
			<button class="btn btn-sm btn-dark pull-right" (click)="applicationListLink()">Back</button>
        </div>
        <div class="card-body">
            <div class="col-md-6 col-sm-12">
				<form [formGroup]="form" (ngSubmit)="submit()">
					<div class="form-group mb-2">
						<label for="full_name" class="control-label">Full Name</label>
						<input type="text" class="form-control" formControlfull_name="full_name" required>
						<div class="alert alert-danger" *ngIf="f.full_name.touched && f.full_name.invalid">
							<div class="text-danger">full_name is required!</div>
						</div>
					</div>
					<div class="form-group mb-2">
						<label for="department_id" class="control-label">Department</label>
						<select id="department_id" class="form-control" formControlName="department_id" (change)="setCoursesByDepartment($event.target.value)" required>
							<option [ngValue]="" disabled>Select Department</option>
							<option *ngFor="let department of departments" value="{{department?.id}}">{{ department.name }}</option>
						</select>
						<div class="alert alert-danger" *ngIf="f.department_id.touched && f.department_id.invalid">
							<div class="text-danger">Department is required!</div>
						</div>
					</div>
                    <div class="form-group mb-2">
						<label for="course_id" class="control-label">Course</label>
						<select id="course_id" class="form-control" formControlName="course_id" (change)="setShifts($event.target.value)" required>
							<option [ngValue]="" disabled>Select Course</option>
							<option *ngFor="let course of courses" value="{{course?.id}}">{{ course?.name }}</option>
						</select>
						<div class="alert alert-danger" *ngIf="f.course_id.touched && f.course_id.invalid">
							<div class="text-danger">Course is required!</div>
						</div>
					</div>
                    <div class="form-group mb-2" *ngIf="shifts.length">
						<label for="shift" class="control-label">Shift</label>
						<div class="col-12">
							<div class="form-check form-check-inline" *ngFor="let shift of shifts">
								<input class="form-check-input" formControlName="shift" id="shift" type="radio" [value]="shift">
								<label class="form-check-label" for="shift">
								{{ shift.toUpperCase()}}
								</label>
							</div>
						</div>
						<div class="alert alert-danger" *ngIf="f.shift.touched && f.shift.invalid">
							<div class="text-danger">Shift is required!</div>
						</div>
					</div>
                    <div class="form-group mb-2">
						<label for="entry_date" class="control-label">Entry Date</label>
						<input id="entry_date" type="date" class="form-control" formControlName="entry_date" [min]="minDate" [max]="maxDate" required="">
						<div class="alert alert-danger" *ngIf="f.entry_date.touched && f.entry_date.invalid">
							<div class="text-danger">Entry Date is required!</div>
						</div>
					</div>
					<div class="form-group mb-2">
						<label for="status" class="control-label">Status</label>
						<div class="col-12">
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" formControlName="status" id="active" value="true">
								<label class="form-check-label" for="active">
								Active
								</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" formControlName="status" id="inactive" value="false">
								<label class="form-check-label" for="inactive">
								Inactive
								</label>
							</div>
						</div>
					</div>
					<div class="form-group mt-2">
						<button class="btn btn-sm btn-dark pull-right" type="submit" [disabled]="!form.valid">
							<span *ngIf="!editMode">
								save
							</span>
							<span *ngIf="editMode">
								Update
							</span>
						</button>
					</div>
				</form>
			</div>
        </div>
    </div>
</div>