<div class="container-fluid">
    <div class="card">
        <div class="card-header bg-white">
            <strong *ngIf="!editMode">Create Course</strong>
            <strong *ngIf="editMode">Edit {{ course?.name }}</strong>
			<button class="btn btn-sm btn-dark pull-right" (click)="courseListLink()">Back</button>
        </div>
        <div class="card-body">
            <div class="col-md-6 col-sm-12">
				<form [formGroup]="form" (ngSubmit)="submit()">
					<div class="form-group mb-2">
						<label for="name" class="control-label">Name</label>
						<input type="text" class="form-control" formControlName="name" required>
						<div class="alert alert-danger" *ngIf="f.name.touched && f.name.invalid">
							<div class="text-danger">Name is required!</div>
						</div>
					</div>
					<div class="form-group mb-2">
						<label for="departmentId" class="control-label">Department</label>
						<select id="departmentId" class="form-control" formControlName="departmentId" required>
							<option [ngValue]="1" disabled>Select Department</option>
							<option *ngFor="let department of departments" [ngValue]="department.id" [selected]="department.id === course?.department_id">{{ department.name }}</option>
						</select>
						<div class="alert alert-danger" *ngIf="f.departmentId.touched && f.departmentId.invalid">
							<div class="text-danger">Department is required!</div>
						</div>
					</div>
					<div class="form-group mb-2">
						<label for="fees" class="control-label">Fees</label>
						<input type="number" class="form-control" formControlName="fees" required>
						<div class="alert alert-danger" *ngIf="f.fees.touched && f.fees.invalid">
							<div class="text-danger">Fees is required!</div>
						</div>
					</div>
					<div class="form-group mb-2">
						<label for="images">Images</label>
						<input 
							formControlName="images"
							id="images" 
							type="file" 
							multiple
							class="form-control"
							(change)="onFileChange($event)">
						<div *ngIf="f.images.touched && f.images.invalid" class="alert alert-danger">
							<div *ngIf="f.images.errors.required">File is required.</div>
						</div>
					</div>
					<div class="form-group mb-2">
						<label for="shifts" class="control-label">Shifts</label>
						<div class="col-12">
							<div class="form-check form-check-inline" *ngFor="let shift of shifts">
								<input class="form-check-input" type="checkbox" [value]="shift.value" (change)="onCheckboxChange($event)" [checked]="shift.selected">
								<label class="form-check-label">
								{{ shift.name }}
								</label>
							</div>
						</div>
						<div class="alert alert-danger" *ngIf="f.shifts.touched && f.shifts.invalid">
							<div class="text-danger">Shifts is required!</div>
						</div>
					</div>
					<div class="form-group mb-2">
						<label for="status" class="control-label">Status</label>
						<div class="col-12">
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" formControlName="status" id="active" value="true">
								<label class="form-check-label" for="active">
								Active
								</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" formControlName="status" id="inactive" value="false">
								<label class="form-check-label" for="inactive">
								Inactive
								</label>
							</div>
						</div>
					</div>
					<div class="form-group mt-2">
						<button class="btn btn-sm btn-dark pull-right" type="submit" [disabled]="!form.valid">
							<span *ngIf="!editMode">
								save
							</span>
							<span *ngIf="editMode">
								Update
							</span>
						</button>
					</div>
				</form>
			</div>
        </div>
    </div>
</div>