<!-- Top navigation-->
<nav class="navbar navbar-expand-lg top-fixed-navbar navbar-light bg-light border-bottom">
	<div class="container-fluid">
		<button id="sidebarToggle" class="btn btn-sm btn-outline-secondary sidebar-toggler" (click)="toggleSidebar()">
			<i class="fa fa-angle-double-left"></i>
		</button>
		<a class="navbar-brand pointer" (click)="dashboardLink()">{{ appName }}</a>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mt-2 mt-lg-0">
				<li class="nav-item"><a class="nav-link" (click)="homeLink()">Home</a></li>
			</ul>
			<ul class="navbar-nav ms-auto mt-2 mt-lg-0">
				<li class="nav-item dropdown" *ngIf="authCheck">
					<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user?.name }}</a>
					<div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" (click)="profileLink()">Profile</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" (click)="logout()">Logout</a>
					</div>
				</li>
			</ul>
		</div>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
  </nav>
  <div class="d-flex" id="wrapper" [ngClass]="{'sidebar-toggled':sidebarOpen}">
	<!-- Sidebar-->
	<div class="border-end bg-light" id="sidebar-wrapper">
		<div class="list-group list-group-flush bg-light">
			<a class="list-group-item list-group-item-action list-group-item-light bg-light p-3 pointer" (click)="departmentListLink()">Departments</a>
			<a class="list-group-item list-group-item-action list-group-item-light bg-light p-3 pointer" (click)="courseListLink()">Courses</a>
			<a class="list-group-item list-group-item-action list-group-item-light bg-light p-3 pointer" (click)="applicationListLink()">Applications</a>
		</div>
	</div>
	<!-- Page content wrapper-->
	<div id="page-content-wrapper">
		<!-- Page content-->
		<div style="min-height:100vh;padding-top: 15px;">
			<router-outlet></router-outlet>
		</div>
	</div>
  </div>