<div class="container">
    <div class="col-md-6 col-sm-12 offset-md-3">
        <div class="card">
            <div class="card-header bg-white">
                Register
                <!-- <button type="button" class="btn btn-sm btn-dark pull-right">Register</button> -->
            </div>
            <div class="card-body">
                <div class="col-12" *ngIf="errors.length">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngFor="let error of errors">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        {{ error }}
                    </div>
                </div>
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="form-group">
                        <label for="name" class="control-label">Name</label>
                        <input type="text" class="form-control" formControlName="name" required>
                        <div class="alert alert-danger" *ngIf="f.name.touched && f.name.invalid">
                            <div class="text-danger">Name is required!</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="control-label">Email</label>
                        <input type="email" class="form-control" formControlName="email" required>
                        <div class="alert alert-danger" *ngIf="f.email.touched && f.email.invalid">
                            <div class="text-danger">Email is required!</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">Password</label>
                        <input type="password" class="form-control" formControlName="password" required>
                        <div class="alert alert-danger" *ngIf="f.password.touched && f.password.invalid">
                            <div class="text-danger">Password is required!</div>
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <button type="submit" class="btn btn-sm btn-primary" [disabled]="!form.valid">Rgister</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>