<div class="container">
    <div class="card">
        <div class="card-body">
            <h5>Available Departments</h5>
            <hr>
            <div class="row">
                <div class="col-3 text-center" *ngFor="let department of departments">
                    <a [routerLink]="['/department',department.slug]">
                        {{ department?.name }}
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <button class="btn btn-primary" (click)="showStandard()" ngbTooltip="Will disappear in 5s">Standard toast</button>&nbsp;
<button class="btn btn-success" (click)="showSuccess()" ngbTooltip="Will disappear in 10s">Success toast</button>&nbsp;
<button class="btn btn-danger" (click)="showError()" ngbTooltip="Will disappear in 10s">Error toast</button>&nbsp;

<ng-template #customTpl>
  <i>This is</i> a <u>custome</u> template <b>toast message</b>
</ng-template>

<button class="btn btn-info" (click)="showCustomToast(customTpl)" ngbTooltip="Will disappear in 15s">Custom toast</button>&nbsp;
        </div>
    </div>
</div>
