<div class="container-fluid">
    <div class="card">
        <div class="card-header bg-white">
            <strong>Department: {{ department?.name }}</strong>
			<button class="btn btn-sm btn-dark pull-right" (click)="departmentListLink()">Back</button>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-3 mb-2" *ngFor="let course of courses">
                    <div class="card">
                        <div class="card-body">
                            <h5>
                                {{ course.name }}
                            </h5>
                            <hr>
                            <img src="{{ course.images ? imagePath + course.images.split(',')[0] : 'assets/images/no-image-found.jpg' }}" alt="" class="img-fluid">
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>