<!-- Top navigation-->
<nav class="navbar navbar-expand-lg top-fixed-navbar navbar-light bg-light border-bottom">
	<div class="container-fluid">
		<a class="navbar-brand pointer" (click)="homeLink()">{{ appName }}</a>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mt-2 mt-lg-0">
				<li class="nav-item"><a class="nav-link" (click)="homeLink()">Home</a></li>
				<li class="nav-item"><a class="nav-link" (click)="aboutUsLink()">About Us</a></li>
				<li class="nav-item"><a class="nav-link" (click)="contactLink()">Contact</a></li>
			</ul>
			<ul class="navbar-nav ms-auto mt-2 mt-lg-0">
				<li class="nav-item" *ngIf="!authCheck"><a class="nav-link" (click)="loginLink()">Login</a></li>
				<li class="nav-item" *ngIf="!authCheck"><a class="nav-link" (click)="registerLink()">Register</a></li>
				<li class="nav-item dropdown" *ngIf="authCheck">
					<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user?.name }}</a>
					<div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
						<a class="dropdown-item text-danger" (click)="dashboardLink()">Dashboard</a>
						<a class="dropdown-item" (click)="profileLink()">Profile</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" (click)="logout()">Logout</a>
					</div>
				</li>
			</ul>
		</div>
		<button class="navbar-toggler pull-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
  </nav>
  <div class="d-flex" id="wrapper">
	<div id="page-content">
		<div style="min-height:100vh;padding-top: 15px;">
			<router-outlet></router-outlet>
		</div>
	</div>
  </div>