<div class="container-fluid">
    <div class="card">
        <div class="card-header bg-white">
            <strong *ngIf="!editMode">Create Department</strong>
            <strong *ngIf="editMode">Edit {{ department?.name }}</strong>
			<button class="btn btn-sm btn-dark pull-right" (click)="departmentListLink()">Back</button>
        </div>
        <div class="card-body">
            <div class="col-md-6 col-sm-12">
				<form [formGroup]="form" (ngSubmit)="submit()">
					<div class="form-group mb-2">
						<label for="name" class="control-label">Name</label>
						<input type="text" class="form-control" formControlName="name" required>
						<div class="alert alert-danger" *ngIf="f.name.touched && f.name.invalid">
							<strong class="text-danger">Name id Required!</strong>
						</div>
					</div>
					<div class="form-group">
						<button class="btn btn-sm btn-dark pull-right" type="submit" [disabled]="!form.valid">
							<span *ngIf="!editMode">
								save
							</span>
							<span *ngIf="editMode">
								Update
							</span>
						</button>
					</div>
				</form>
			</div>
        </div>
    </div>
</div>