/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.min.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
/* bs classe override */
.navbar-toggler {
	position: absolute;
	top: 8px;
	right: 8px;
}

.nav-link {
	cursor: pointer;
}

/* custom classes */
a {
	cursor: pointer;
}
.pull-right {
	float:right;
}
.pointer {
	cursor: pointer;
}
.img-cell {
	max-width: 160px;
	max-height: 160px;
}
/* top navbar */
.top-fixed-navbar {
	position: fixed;
	width: 100%;
	z-index: 10;
}
/* sidebar */
.sidebar-toggler {
	position: fixed;
	display: none;
	left: -40px;
	transition: .5s ease-in-out all;
}

#wrapper {
	overflow-x: hidden;
}
  
#sidebar-wrapper {
	position: fixed;
	width: 220px;
	z-index: 10;
	min-height: 100vh;
	margin-top: 57px;
	left:0;
	transition: all 0.25s ease-out;
}
  
/* #sidebar-wrapper .sidebar-heading {
	padding: 0.875rem 1.25rem;
	font-size: 1.2rem;
} */

#page-content {
	width: 100%;
	margin-top: 56px;
}

#page-content-wrapper {
	width: 100%;
	margin-top: 56px;
	margin-left: 220px;
	transition: all 0.25s ease-out;
}

#wrapper.sidebar-toggled #sidebar-wrapper {
	margin-left: 0;
}
  
@media (min-width: 768px) {
	#sidebar-wrapper {
	  	margin-left: 0;
	}
  
	#page-content-wrapper {
		min-width: 0;
		width: 100%;
	}

	#wrapper.sidebar-toggled #sidebar-wrapper {
		margin-left: -220px;
  }
}

@media (max-width: 767px) {
	.sidebar-toggler {
		display: block;
		left: 10px;
		top: 12px;
		transition: .5s ease-in-out all;
	}

	.navbar-brand {
		margin-left: 40px;
	}

	#sidebar-wrapper {
		left:-220px;
		transition: all 0.25s ease-out;
	}

	#wrapper.sidebar-toggled #sidebar-wrapper {
		left: 0px;
		transition: all 0.25s ease-out;
	}
	
	#page-content-wrapper {
		margin-left: 0px;
		transition: all 0.25s ease-out;
	}
}